@using Savanna.Backend
@using Savanna.Frontend
@using Savanna.Backend.Actors

@{
    UIManager uiManager = ViewData["UIManager"] as UIManager;
}

@if (uiManager != null)
{
    List<Animal> animals = uiManager.GetBoardAnimals().ToList();
    char[,] board = new char[Constants.MaxY, Constants.MaxX];

    foreach (var animal in animals)
    {
        board[animal.Position.Y, animal.Position.X] = animal.Symbol;
    }

    <div id="game-board">
        @for (int i = 0; i < Constants.MaxY; i++)
        {
            for (int j = 0; j < Constants.MaxX; j++)
            {
        @Html.Raw(board[i, j])
                ;
            }
            <text><br /></text>
        }
    </div>

}
else
{
    <p>UIManager is not available. Ensure it's properly set in the controler.</p>
}
