@using Savanna.Backend
@using Savanna.Frontend
@using Savanna.Backend.Actors
@using Savanna.Frontend.Interfaces

@{
    ViewBag.Title = "Savanna Game";
    IDrawingService? uiManager = ViewData["UIManager"] as IDrawingService;
    List<List<long?>> board = uiManager?.GetGameBoard() ?? new List<List<long?>>();
    var getGameBoardUrl = Url.Action("GetGameBoard", "Game");
    var handleInputUrl = Url.Action("HandleInput", "Game");
    var saveGameUrl = Url.Action("SaveGame", "Game");
    var newGameUrl = Url.Action("NewGame", "Game");
    var loadGameUrl = Url.Action("LoadGame", "Game");
}

<h2>Welcome to Savanna!</h2>
<p>Please choose what you want to do:</p>

<div class="button-container">
    <form id="loadGameForm">
        <input id="loadGameButton" type="button" class="btn btn-primary" value="Load Game" />
    </form>
    <form id="newGameForm">
        <input id="newGameButton" type="button" class="btn btn-primary" value="New Game" />
    </form>
</div>

<br>

<div id="gameContent" class="hidden">
    <p><strong>Loaded animals:</strong></p>
    @foreach (var kvp in AnimalFactory.AnimalTypes)
    {
        <p>Enter @kvp.Key to add @kvp.Value.Name.</p>
    }

    @* posts input to controller HandleInput action *@
    <form id="animalForm">
        <input id="animalSymbol" type="text" name="animalSymbol" maxlength="1" />
        <input id="addAnimalButton" type="submit" value="Add" />
    </form>
    <br>
    <div id="game-board" class="game-board">
        <table>
            <p><strong>Game board:</strong></p>
            <tbody id="boardBody">
            </tbody>
        </table>
    </div>
    <div id="tooltip" class="svn-tooltip"></div>
    <br>
    <br>
    <p><strong>Iteration count: </strong><span id="iterationCount"></span></p>
    <p><strong>Number of animals on board: </strong><span id="animalCount"></span></p>
    <br>

    <form id="saveGameForm">
        <input id="saveGameButton" type="button" class="btn btn-primary" value="Save Game" />
    </form>
</div>

<script>
    const getGameBoardUrl = '@getGameBoardUrl';
    const handleInputUrl = '@handleInputUrl';
    const saveGameUrl = '@saveGameUrl';
    const newGameUrl = '@newGameUrl';
    const loadGameUrl = '@loadGameUrl';
</script>
<script src="~/js/game.js"></script>
