@using Savanna.Backend
@using Savanna.Frontend
@using Savanna.Backend.Actors

@{
    ViewBag.Title = "Savanna Game";
    UIManager uiManager = ViewData["UIManager"] as UIManager;
    char[,] board = uiManager.GetGameBoard();
}

<h2>Welcome to Savanna!</h2>
<p>Loaded animals:</p>
@foreach (var kvp in AnimalFactory.AnimalTypes)
{
<p>Enter @kvp.Key to add @kvp.Value.Name.</p>

}

@* posts input to controller HandleInput action *@
<div>
    <form method="post" action="@Url.Action("HandleInput", "Game")">
        <input type="text" name="animalSymbol" maxlength="1" />
        <input type="submit" value="Add animal" />
    </form>
</div>

<div id="game-board">
    <table>
        <caption>Game board:</caption> 
        <tbody>
                @for (int i = 0; i < Constants.MaxY; i++)
                {
                    <tr>
                        @for (int j = 0; j < Constants.MaxX; j++)
                        {
                            <td>@board[i, j]</td>
                        }
                    </tr>
                }
        </tbody>
    </table>
</div>

<script>
    function updateBoard() {
        $.ajax({
            url: 'Game/GetBoard',
            type: 'GET',
            success: function (data) {
                //update game board display with the received data
            }
        });
    }

    $(document).keypress(function (event) {
        var keyChar = String.fromCharCode(event.which).toUpperCase();
        $.ajax({
            url: 'Game/AddAnimal',
            type: 'POST',
            data: { animalSymbol: keyChar },
            success: function () {
                //optional, additional actions
            }
        })
    });

    setInterval(updateBoard, 1000);
</script>