@using Savanna.Backend
@using Savanna.Frontend
@using Savanna.Backend.Actors
@using Savanna.Frontend.Interfaces

@{
    ViewBag.Title = "Savanna Game";
    IUIManager? uiManager = ViewData["UIManager"] as IUIManager;
    List<List<char>> board = uiManager?.GetGameBoard() ?? new List<List<char>>();
}

<h2>Welcome to Savanna!</h2>
<p>Loaded animals:</p>
@foreach (var kvp in AnimalFactory.AnimalTypes)
{
    <p>Enter @kvp.Key to add @kvp.Value.Name.</p>

}

@* posts input to controller HandleInput action *@
<form id="animalForm">
    <input id="animalSymbol" type="text" name="animalSymbol" maxlength="1" />
    <input id="addAnimalButton" type="submit" value="Add animal" />
</form>

<div id="game-board">
    <table>
        <h3>Game board:</h3>
        <tbody id="boardBody">
        </tbody>
    </table>
</div>

<script>

    const updateBoard = async () => {

        const response = await fetch('@Url.Action("GetGameBoard", "Game")');
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        const data = await response.json();
        console.log("responseData", data);
        const boardBody = document.getElementById('boardBody');
        boardBody.innerHTML = '';
        data.forEach((row, i) => {
            const tr = document.createElement('tr');;
            row.forEach((cell, j) => {
                const td = document.createElement('td');
                td.textContent = cell;
                tr.appendChild(td);
                console.log(cell);
            });
            boardBody.appendChild(tr);
        });
    }

    document.getElementById('addAnimalButton').addEventListener('click', async (event) => {
        event.preventDefault();
        console.log("listener alive");
        try {
            var animalSymbol = document.getElementById('animalSymbol').value.toUpperCase();
            const response = await fetch('@Url.Action("HandleInput", "Game")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ animalSymbol: animalSymbol })
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            console.log("response fetched");
            } catch (error) {
                console.error(error);
            }
        });

    setInterval(updateBoard, 1000);
</script>
