#boardBody td{
  font-family: monospace;
}

.button-container {
    display: flex;
}

.button-container form {
    margin-right: 2px;
}

.hidden {
    display: none;
}

.game-board {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
}

td:hover {
    background-color: lightgray;
    cursor: pointer;
}

.svn-tooltip {
    position: absolute;
    display: none;
    background-color: lightgrey;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    color: black;
    z-index: 9999;
}

.svn-container {
    display: flex;
    justify-content: flex-start;
    width: 30%;
}

.svn-container .form-control {
    width: 50%;
    margin-right: 10px;
}

.svn-container .btn {
    width: 20%;
}
