#boardBody td{
  font-family: monospace;
}

.button-container {
    display: flex;
}

.button-container form {
    margin-right: 2px;
}

.hidden {
    display: none;
}

.game-board {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
}