#boardBody td{
  font-family: monospace;
}

.button-container {
    display: flex;
}

.button-container form {
    margin-right: 2px;
}

.hidden {
    display: none;
}

.game-board {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
}

td:hover {
    background-color: lightgray;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
}